/******************/
/*** STYLESHEET ***/
/******************/
html {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth; }

body {
  margin: 0; }

/**************/
/*** HEADER ***/
header {
  background-image: url(../public/header-background.jpg);
  width: 100%;
  height: 1000px; }
  header nav {
    justify-content: center;
    margin: auto; }
    header nav ul {
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 0; }
      header nav ul li {
        list-style: none;
        margin: 40px; }
        header nav ul li a {
          text-decoration: none;
          font-size: 25px;
          color: white; }
  header button {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: auto;
    justify-content: center;
    margin-top: 700px; }
    header button img {
      width: 100px;
      height: 100px; }

/************/
/*** MAIN ***/
/****************/
/*** SERVICES ***/
#services-section {
  height: 1000px;
  margin-top: 25px; }
  #services-section .services-container {
    display: flex;
    flex-direction: column;
    margin: 0px 200px 0px 200px; }
    #services-section .services-container h4 {
      font-size: 50px;
      text-align: center; }
    #services-section .services-container p {
      font-size: 25px;
      text-align: center;
      margin-left: 50px;
      margin-right: 50px; }
    #services-section .services-container .services {
      width: 500px; }
    #services-section .services-container .row1 {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-bottom: 25px; }
    #services-section .services-container .row2 {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }
  #services-section button {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: auto;
    justify-content: center;
    margin-top: 40px; }
    #services-section button img {
      width: 100px;
      height: 100px; }

/**************/
/*** VALUES ***/
#values-section {
  height: 950px;
  margin-top: 25px;
  background-image: url(../public/values-background.jpg);
  background-size: contain; }
  #values-section .values-container {
    display: flex;
    flex-direction: row;
    margin: 0px 100px 0px 100px; }
    #values-section .values-container h4 {
      font-size: 70px;
      text-align: center;
      color: white; }
    #values-section .values-container p {
      font-size: 30px;
      text-align: center;
      margin-left: 50px;
      margin-right: 50px;
      color: white; }
    #values-section .values-container .values {
      width: 500px;
      margin-top: 150px; }
