/**************/
/*** VALUES ***/

#values-section {
    height: 950px;
    background-image: url(../public/values-background.jpg);
    background-size: 100%;
    background-color: #DCECFF;

    .values-container {
        display: flex;
        flex-direction: row;
        margin: 0px 100px 0px 100px;
        justify-content: center;
        
        h4 {
            font-size: 70px;
            text-align: center;
            color: #DCECFF;
        }

        p {
            font-size: 30px;
            text-align: center;
            margin-left: 50px;
            margin-right: 50px;
            color: #DCECFF;
        }

        .values {
            width: 500px;
            margin-top: 150px;
        }
    }

    button {
        display: flex;
        flex-direction: row;
        background-color: transparent;
        border: none;
        padding: 0;
        margin: auto; 
        justify-content: center;
        margin-top: 185px;

        img {
            width: 100px;
            height: 100px;
        }
    }
}

/**************/